@import '../shared/font';
@import '../shared/colors';

.container
  max-width: 1200px
  margin: 0 auto;

  padding: 15px 0
  box-sizing: border-box;

.header
  padding: 20px 15px

.title
  font(font-preset[title])
  color: color-text-black

.questions
  display: flex;
  width: 100%
  flex-wrap: wrap;
